* {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  overflow: hidden;
}

.header {
  padding: 30px;
  font-size: x-large;
  z-index: 1;
}

.menu {
  gap: 20px;
  list-style-type: none;
}
.menu a {
  text-decoration: none;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}

a {
  color: black;
}
.dark-mode a {
  color: #fff;
}
