* {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  overflow: hidden;
}

.header {
  margin: 10px;
  padding: 70px;
  font-size: x-large;
}

.menu {
  gap: 20px;
  list-style-type: none;
}
.menu a {
  text-decoration: none;
}
