.techStack {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  gap: 20px;
  padding: 10%;
  overflow: hidden;
  scroll-behavior: smooth;
}
.imagesDiv {
  z-index: 8;
  margin: 2px;
  padding: 2px;
  display: flex;
  gap: 20px;
  width: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imagesDiv img {
  z-index: 4;
  width: 70px;
  height: 70px;
  margin: 10%;
}

.about {
  z-index: 1;
  background-color: #343434;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  height: 247px;
  border-radius: 10px;
  padding: 2%;
}
h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 48.76px;
  text-align: left;
}

.info h1 {
  color: white;
  margin-left: -500px;
  font-size: 40px;
  font-weight: 900;
  line-height: 48.76px;
  text-align: left;
}

.workExperience {
  height: auto;
  background-color: #343434;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  border-radius: 10px;
  padding: 2%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -110px;
  line-height: 30px;
  letter-spacing: 0px;
}
.workExperience .description {
  font-size: 20px;
  font-weight: 200;
  color: white;
}
.dark-mode {
  background-color: #333;
  color: #fff;
  align-content: justify;
}

@media screen and (max-width: 390px) {
  #about-div {
    margin-top: -80px;
  }
  .about {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .imagesDiv {
    padding: 30px 0px;
    margin-top: -100px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    z-index: 10;
    color: tomato;
  }
  .workExperience {
    font-size: 16px;
  }
  .workExperience .heading {
    padding: 20px;
  }
}

.blur-02 {
  background-color: #747474;
  position: absolute;
  width: 200px;
  height: 200px;
  min-width: 500px;
  overflow: hidden;
  top: 1476px;
  left: 88px;
  border: 764px;
  filter: blur(200px);
  z-index: -1;
}
