<section class="techStack" id="about">
  <div>
    <h1>About</h1>
  </div>
  <div class="about">
    <div class="info">
      <h1>Tech Stack</h1>
      <div class="imagesDiv">
        <img
          *ngFor="let image of skillsImages"
          [src]="image"
          alt="Skill Image"
        />
      </div>
    </div>
  </div>

  <div>
    <h1>Work Experience</h1>
    <div class="about workExperience">
      <div *ngFor="let experience of workExperiences">
        <h2>{{ experience.title }} at {{ experience.company }}</h2>
        <h3>
          <strong>Location:</strong> {{ experience.location }} ({{
            experience.joining
          }}
          - {{ experience.endDate }})
        </h3>
        <p><strong>Description:</strong></p>
        <p>{{ experience.description }}</p>
      </div>
    </div>
  </div>
</section>
