.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3334;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  flex-direction: column;
  overflow: hidden;
}

.contact {
  margin: 5%;
  padding: 2%;
  font-size: 30px;
}
.contact a {
  width: 150px;
  height: 70px;
  font-size: 25px;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.container.dark-mode {
  background-color: #333;
  color: #fff;
}
