<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<div class="darkModeBtn">
  <input
    type="checkbox"
    id="darkMode"
    [(ngModel)]="darkMode"
    class="toggle-checkbox"
  />
  <label for="darkMode" class="toggle-label">
    <span class="toggle-icon">
      <mat-icon
        *ngIf="!darkMode"
        [ngStyle]="{ color: darkMode ? 'white' : 'black' }"
        >Dark?</mat-icon
      >

      <mat-icon
        *ngIf="darkMode"
        [ngStyle]="{ color: darkMode ? 'white' : 'black' }"
        >Light!</mat-icon
      >
      <!-- Moon icon -->
    </span>
  </label>
</div>
<div class="container" [ngClass]="{ 'dark-mode': darkMode }">
  <app-header [darkMode]="darkMode" [location]="location ?? ''"></app-header>
  <app-home [darkMode]="darkMode" [Info]="info"></app-home>
  <app-about
    [darkMode]="darkMode"
    [ngClass]="{ 'dark-mode': darkMode }"
  ></app-about>
  <app-project-div
    [darkMode]="darkMode"
    [projectData]="projectData ?? { projects: [] }"
    [ngClass]="{ 'dark-mode': darkMode }"
  ></app-project-div>
  <app-contact [darkMode]="darkMode" [contact]="contact"></app-contact>
  <app-footer
    [darkMode]="darkMode"
    [ngClass]="{ 'dark-mode': darkMode }"
    [name]="name ?? ''"
  ></app-footer>
</div>
<div class="background">
  <div
    *ngFor="let blur of blurs"
    class="{{ blur }} blurs"
    [ngClass]="{ 'dark-mode': darkMode }"
  ></div>
</div>
