.card {
  max-width: 300px;
  z-index: 3;
}
.image {
  background-image: url("./images/git-profile.jpeg");
  background-size: cover;
}
.grey-button {
  background-color: #2f3334;
  color: white;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.card.dark-mode {
  background-color: #464646;
  color: #fff;
}
.mat-card-subtitle.dark-mode {
  color: #fff; /* White text in dark mode */
}
