<mat-card class="card" [ngClass]="{ 'dark-mode': darkMode }">
  <mat-card-header class="subtitle">
    <div mat-card-avatar class="image"></div>
    <mat-card-title>{{ project.title }}</mat-card-title>
    <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="cover-image"
    [src]="project.imageUrl"
    [alt]="'Photo of ' + project.title"
  />

  <mat-card-content>
    <p class="description">
      {{ project.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button class="grey-button" [href]="project.url"
      >View On Github</a
    >
  </mat-card-actions>
</mat-card>
<script>
  console.log(project.imageUrl);
</script>
