.card {
  max-width: 800px;
  max-height: 500px;
  z-index: 3;
}
.image {
  background-size: cover;
  background-image: url("../../assets/images/git-profile.jpeg");
}
.cover-image {
  max-width: 800px;
  max-height: 300px;
  object-fit: cover;
}

.grey-button {
  background-color: #2f3334;
  color: white;
  margin-right: 10px;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.card.dark-mode {
  background-color: #464646;
  color: #fff;
}
.mat-card-subtitle.dark-mode {
  color: #fff;
}

@media screen and (max-width: 390px) {
  .card {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0px;
  }
}
