<div class="home" [ngClass]="{ 'dark-mode': darkMode }">
  <div class="infoDiv">
    <div class="info">
      <h1>Aman Hiran Purohit</h1>
      <p>
        {{ Info.p }}
      </p>
      <div class="endorse">
        <ul>
          <li>
            <a href="{{ Info.github }}">
              <img src="../../assets/images/github.png" alt="GitHub" />
            </a>
          </li>
          <li>
            <a href="{{ Info.linkedIn }}">
              <img src="../../assets/images/linkedIn.png" alt="GitHub" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="profileImage">
      <img
        src="../../assets/images/profileImage.png"
        alt="Aman Hiran Purohit"
      />
    </div>
  </div>
</div>
