<div class="home">
  <div class="info">
    <h1>Aman Hiran <br />Purohit</h1>
    <p>
      Hello! I'm a Software & Network Major at Sheridan College in Oakville,
      actively seeking Co-op opportunities in tech for Fall 2024. I showcase my
      projects and blog on this platform. If you find my work intriguing, feel
      free to connect with me or endorse my skills.
    </p>
    <div class="endorse">
      <ul>
        <li>
          <a href="https://github.com/purohitamann">
            <img src="../../assets/images/github.png" alt="GitHub" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/amanhiranpurohit/">
            <img src="../../assets/images/linkedIn.png" alt="GitHub" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profileImage">
    <img src="../../assets/images/profileImage.png" alt="Aman Hiran Purohit" />
  </div>
</div>
